<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
<script>
  $(function(){
    $("input[type=button]").click(function(){
      let txt=$("input[type=text]").val();
      if($.trim(txt) != ""){
        $("table tr:not('#theader')").hide().filter(":contains('"+txt+"')").show().css("background","white");
      }else{
      $("table tr:not('#theader')").css("background","#fff").show();
    }
  });
})
</script>

<style>

ul.side-nav {
  position: fixed;
  left: 25px;
  top: 60px;
  background-color: #eefaff;
}
 ul.side-nav {
   border-style:outset;
   border:1px solid #bbe1f1;
}
 ul.side-nav {
   padding-top:25px;
   padding-bottom:25px;
   padding-right:0px;
   padding-left:0px;
}

</style>

</head>

<body>
  <div class="page-header">
    <h1><center>Cloudservices</center></h1>
  </div>

<div class="panel-body">
  <%= form_for :search, method: :get do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :query, '搜索条件' %>
        <%= f.text_field :query, value: @search.query %>
      </div>
      <div class="form-group">
        <input name="search[expired_at]" type="radio" value="desc" />
        <label>desc</label>
        <input name="search[expired_at]" type="radio" value="asc" />
        <label>asc</label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><%= t("button.search") %></button>
      </div>
    </div>
  <% end %>
</div>

<ul class="side-nav">
 <li style="font-size: 1.5em;"><%= link_to "Customers",         customers_path    %></li>
 <li style="font-size: 1.5em;"><%= link_to "Cloudservices",     cloudservices_path %></li>
 <li style="font-size: 1.5em;"><%= link_to "Customerservers",   customerservers_path %></li>
 <li style="font-size: 1.5em;"><%= link_to "Projects",           projects_path %></li>
</ul>

<input type="text"></input>
<input type="button" value="搜索"></input>


<table id="myTable" class="table table-striped table-bordered table-hover tablesorter">
  <thead>
    <tr id="theader">
      <th>Code</th>
      <th>Vendor</th>
      <th>Expired at</th>
      <th colspan="3"</th>
    </tr>
  </thead>

  <tbody>
    <% @cloudservices.each do |cloudservice| %>
      <tr>
        <td><%= cloudservice.code %></td>
        <td><%= cloudservice.vendor %></td>
        <td><%= cloudservice.expired_at %></td>
        <td><%= link_to 'Show', cloudservice %></td>
        <td><%= link_to 'Edit', edit_cloudservice_path(cloudservice) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cloudservice', new_cloudservice_path %>

</br>

<%= link_to 'Return to the home page', home_path      %>

</body>
</html>
